* {
  margin: 0;
  padding: 0;
}

:root {
  --yellow: #f5c32c;
  --orange: #fca61f;
  --blue: rgb(130, 200, 249);
  --black: #242d49;
  --gray: rgba(36, 45, 73, 0.65);
  --profileShadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
  --hrColor: #cfcdcd;
  --cardColor: rgba(255, 255, 255, 0.64);
  --buttonBg: linear-gradient(98.63deg, #73BDFE 0%, #2FA1F8 100%);
  --navBg: linear-gradient(98.63deg, #9bcaed 0%, #1e374b 100%);
  --inputColor: rgba(40, 52, 62, 0.07);
  --photo: #4CB256;
  --video: #4A4EB7;
  --location: #EF5757;
--shedule: #E1AE4A;
}

.App{
  overflow: hidden;
  color: var(--black);
  padding: 1rem 1rem;
  height: 100%;
  background-color: #f3f3f3;
}

.freespace{
  height: 10vh;
  background-color: #f3f3f3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 1;
  z-index: 5;
}

.blur1{
  position: fixed;
  top: -10vh;
  right: -7vw;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #a6ddf0;
  filter: blur(80px);
  z-index: 6;
}
.blur2{
  position: fixed;
  top: 40vh;
  left: -5vw;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #a6ddf0;
  filter: blur(72px)
}

@media screen and (max-width: 500px) {
  .blur1{
    position: fixed;
    top: 5vh;
    right: -40vw;
    z-index: 3;
  }
  .blur2{
    position: fixed;
    top: 70vh;
    left: -25vw;
    z-index: 3;
  }
  .freespace{
    height: 9vh;
  }
}


.button{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 2px solid var(--blue);
  border-radius: 0.5rem;
  background: var(--buttonBg);
  transition:all 100ms ease-out;
  padding: 10px 20px;
  
}

.button:hover{
  cursor: pointer;
  color: var(--blue);
  background: transparent;
  border: 2px solid var(--blue);
  padding: 10px 20px;
}

::-webkit-scrollbar{
  display: none;
}