.commentBox{
    z-index: 999;
    padding: 1rem;
    border-radius: 1rem;
    position: fixed;
    top: 20vh;
    left: 35vw;
    width: 30vw;
    min-height: 30vh;
    background-color: rgb(246, 251, 254);
    border: 1px solid #b4b6b8;
}

.closeComments{
    float: right;
    position: relative;
    top: 0vh;
    right: 0vw;
    color: rgb(106, 107, 107);
    cursor: pointer;
    font-size: 1.2rem;
}

.CommentsHeading{
    font-family: 'Padauk', sans-serif;
    font-size: 1.8rem;
    padding-bottom: 0.5rem;
}

.commentsHeadHr{
    border: 0px;
    border-top: 1px solid rgb(178, 175, 175);
}








.commentBody{
    padding-top: 2rem;
    height: 30vh;
    overflow-y: scroll;
}

.comment{
    display: flex;
    flex-direction: column;
}

.commentProfile{
    display: flex;
    flex-direction: row;
}

.commentUserPic{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.commentUsername{
    font-family: 'Padauk', sans-serif;
    position: relative;
    top: 0.3rem;
    padding-left: 0.3rem;
}

.commentContentMain{
    font-family: 'Padauk', sans-serif;
    position: relative;
    top: 0;
    left: 10%;
    width: 90%;
    line-height: 1.1rem;
}

.commentReact{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 10%;
    font-family: 'Padauk', sans-serif;
}

.likeCommentBtn{
    font-size: 1.2rem;
    color: #1da4ff;
}
.likeCommentCount{
    position: relative;
    top: -0.3rem;
    font-size: 0.8rem;
    color: #adaeaf;
}
.replyCommentMain{
    border: none;
    padding-left: 1rem;
    position: relative;
    top: 0rem;
    background-color: rgb(246, 251, 254);
    color: rgb(148, 146, 146);
}


.commentReplies{
    position: relative;
    left: 10%;
    width: 90%;
}



.ReplycommentUserPic{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.ReplycommentUsername{
    font-family: 'Padauk', sans-serif;
    position: relative;
    top: 0rem;
    padding-left: 0.3rem;
}
.ReplycommentContentMain{
    font-family: 'Padauk', sans-serif;
    position: relative;
    top: 0;
    left: 8%;
    width: 90%;
    line-height: 1.1rem;
}

.ReplycommentReact{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 10%;
    font-family: 'Padauk', sans-serif;
}











.createCommentBox{
    width: 100%;
    padding: 1rem;
    height: 1rem; 
}
.writeComment{
    width: 65%;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    background-color: #f2f2f2;
    outline: none;
    padding-left: 1rem;
    color: #777879;
}


.writeComment::placeholder{
    color: rgb(48, 49, 49);
    
}



.postCommentBtn{
    width: 20%;
    height: 2rem;
    border-radius: 0.7rem;
    border: none;
    background: linear-gradient(106.23deg, #68caf4, #1393f5 100%);
    color: #fff;
    font-size: 1rem;
    margin-left: 3%;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .commentBox{
        padding: 1rem;
        position: fixed;
        top: 20vh;
        left: 10vw;
        width: 76vw;
        max-height: 50vh;
    }

    .commentBody{
        padding-top: 2rem;
        height: clamp(20vh, 25vh, 30vh);
        max-height: 30vh;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 500px) {
    .commentBox{
        position: fixed;
        left: 7.8vw;
    }
}