.profilePageNav{
    z-index: 7;
    position: fixed;
    top: 1rem;
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    font-family: 'Padauk', sans-serif;
    width: 100vw;
}
.logoutBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 2px solid var(--blue);
    border-radius: 0.5rem;
    background: var(--buttonBg);
    transition:all 100ms ease-out;
    padding: 10px 20px;
    cursor: pointer;

    position: relative;
    max-width: 100px;
    left: calc(97vw - 100px);
}

#arrowProfilePage{
    margin-right: 5vw;
    position: fixed;
    cursor: pointer;
    z-index: 9999;
}

@media screen and (max-width: 900px) {
    #postSectionInProfilePage{
        position: absolute;
        top: 90vh !important;
        left: 0;
    }
}



